*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	cursor: pointer;
	outline: none;
}


button{
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
}

html{
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

body{
	background-color: var(--color-black);
	color: var(--color-white);
	scroll-behavior: smooth;
}

a{
	color: inherit;
}

.container{
	max-width: 1480px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.hidden{
	display: none
}

// .wrapper{}



// abstract files here
@import"abstract/typography";
@import"abstract/variables";


// components files here
@import"components/navbar";
@import"components/footer";
@import"components/btn";
@import"components/rotated-bars";


// section files here
@import "sections/hero";
@import"sections/signup-form";
@import"sections/cards";
@import"sections/celebrate";
@import"sections/entrees";
@import"sections/be-social";
@import"sections/next-event";
@import"sections/social-section";
@import"sections/thl-rohdy-bar";

// page files here
@import "page/menupage";
@import "page/membership-page";
@import "page/leagues";
@import "page/index";
@import "page/home";