.celebrate-section{
    border: 10px solid var(--color-purple);
    background-color: var(--color-purple-2);

    .container{
        padding: 0 70px;
        display: flex;
        // align-items: center;
        justify-content: space-between;
        height: 100%;
        gap: 80px;

        @media (max-width:1440px) {
            padding: 0px 50px;
        }

        @media (max-width:1300px) {
            gap: 50px;
        }

        @media (max-width:950px) {
            padding: 0 30px;
        }
        
        @media (max-width:700px) {
            padding: 0 20px;
            gap: 30px;
        }

        @media (max-width:500px) {
            gap: 15px;
            padding: 0px;
        }
    }

    &-text{
        // flex-grow: 1;
        max-width: 960px;
        width: 100%;
        align-self: center;
        
        @media (max-width:550px) {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        h2{
            @extend .text-secondary;
            font-weight: 900;
            font-style: italic;

            // @media (max-width:1300px) {
            //     font-size: 22px;
            // }

            @media (max-width:1100px) {
                font-size: 20px;
            }
            
            @media (max-width:850px) {
                font-size: 17px;
            }

            @media (max-width:550px) {
                font-size: 14px;
            }
        }
        
        h1{
            @extend .heading-primary;
            font-weight: 900;
            font-style: italic;
            margin-top: 64px;
            margin-bottom: 64px;
            
            @media (max-width:1300px) {
                font-size: 36px;
            }
            
            @media (max-width:1100px) {
                font-size: 30px;
                margin-top: 50px;
                margin-bottom: 50px;
                
            }
            
            @media (max-width:850px) {
                font-size: 24px;
                margin-top: 36px;
                margin-bottom: 36px;
            }
            
            @media (max-width:450px) {
                font-size: 22px;
                margin-top: 36px;
                margin-bottom: 36px;
            }
            
            span{
                color: var(--color-yellow);
            }
        }
        
        p{
            @extend .text-secondary;
            line-height: 54px;
            font-weight: 600;    
            font-family: var(--font-sf-pro-display);

            @media (max-width:1300px) {
                font-size: 20px;
                line-height: 45px;
            }
            
            @media (max-width:1100px) {
                font-size: 18px;
                line-height: 40px;
            }
            
            @media (max-width:850px) {
                font-size: 15px;
                line-height: 34px;
            }
            
            @media (max-width:650px) {
                // font-size: 15px;
                line-height: 30px;
            }
        }

        .btn.btn-yellow{
            display: block;
            max-width: 300px;
            margin: 0 auto;
            margin-top: 120px;

            @media (max-width:1300px) {
                margin-top: 100px;
                max-width: 260px;
            }
            
            @media (max-width:1100px) {
                margin-top: 80px;
                font-size: 20px;
            }
            
            @media (max-width:850px) {
                margin-top: 60px;
                max-width: 180px;
                font-size: 15px;
            }
        }
    }
}