.thl-rhody-bar{
    &-section{
        
        .container{
            display: flex;
            padding: 0 60px;
            padding-bottom: 30px;
            
            @media (max-width:1400px) {
                padding: 0 40px;   
                padding-bottom: 30px;
            }

            @media (max-width:1200px) {
                padding: 0 20px;   
                padding-bottom: 30px;
            }
            
            @media (max-width:700px) {
                padding: 0 10px;   
                padding-bottom: 20px;
            }

            @media (max-width:500px) {   
                padding-bottom: 10px;
            }
        }
    }

    &-left{

        @media (max-width:500px) {
            width: 100%;
            margin: 0 auto;
            margin-left: 0;
        }

        img{
            &:nth-of-type(2){
                display: none;

                @media (max-width:500px) {
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                }
            }
            
            &:nth-of-type(1){
                @media (max-width:500px) {
                    display: none;
                }  
            }

            @media (max-width:1440px) {
                width: 35vw;
            }
            
            @media (max-width:1250px) {
                width: 33vw;
            }

            @media (max-width:680px) {
                width: 35vw;
            }

            @media (max-width:560px) {
                width: 37vw;
            }

            // @media (max-width:660px) {
            //     z-index: 10;
            // }
        }
        
        .btn.btn-red{
            border-radius: 10px;
            max-width: 300px;
            width: 100%;
            margin-top: 10px;
            margin-left: 14px;
            
            @media (max-width:1350px) {
                max-width: 21vw;
                font-size: 1.8vw;
            }
            
            @media (max-width:1150px) {
                padding: 11px;
            }
            
            @media (max-width:1000px) {
                margin-top: 0;
                margin-left: 0;
            }

            @media (max-width:850px) {
                max-width: 170px;
                font-size: 15px;
            }
           
            @media (max-width:500px) {
                margin-top: 10px;
            }
        }
    }
    
    &-right{
        align-self: flex-end;
        margin-left: -70px;

        

        img{
            @media (max-width:1440px) {
                width: 65vw;
            }

            @media (max-width:680px) {
                width: 62vw;
            }
            
            @media (max-width:570px) {
                width: 60vw;
            }

            @media (max-width:500px) {
                display: none;
            }  
        }
    }
}