.be-social-section{
    border: none;
    background-color: transparent;
    background-image: url(/assets/img/be-social-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width:440px) {
        display: none;
    }

    .container{
        justify-content: flex-start;
        gap: 60px;

        @media (max-width:1200px) {
            gap: 50px;
        }

        @media (max-width:1000px) {
            gap: 40px;
        }
        
        @media (max-width:700px) {
            gap: 20px;
            padding-right: 20px;
        }
    }

    .side-rotated-bar{
        padding: 20px 0 !important;
    }

    .celebrate-section-text{
        max-width: 600px;
        margin: 40px 0;

        @media (max-width:1200px) {
            max-width: 500px;
        }

        @media (max-width:900px) {
            max-width: 380px;
        }

        h1{
            margin: 30px 0;
            
            @media (max-width:1200px) {
                margin: 20px 0;
            }
          
            @media (max-width:900px) {
                margin: 10px 0;
                margin-bottom: 25px;
            }

            @media (max-width:700px) {
                font-size: 22px;
            }
        }

        p{
            font-size: 30px;
            font-weight: 700;
            max-width: 590px;
            font-family: var(--font-montserrat);
            line-height: 50px;

            @media (max-width:1300px) {
                font-size: 20px;
                line-height: 40px;
            }

            @media (max-width:1100px) {
                max-width: 450px;
                font-size: 18px;
                line-height: 30px;
            }
            
            @media (max-width:900px) {
                max-width: 350px;
                font-size: 15px;
                line-height: 35px;
            }
            
            @media (max-width:700px) {
                line-height: 27px;
            }
        }
    }
}