.heading-primary{
	font-size: 44px;
	font-weight: 900;
    font-style: italic;
}

// .heading-secondary{
// 	font-size: ;
// 	font-weight: ;
// 	color: var();
// 	font-family: var();
// }

// .heading-tertiary{
// 	font-size: ;
// 	font-weight: ;
// 	color: var();
// 	font-family: var();
// }

.text-primary{
	font-size: 30px;
	font-weight: 600;
}

.text-secondary{
	font-size: 24px;
	font-weight: 700;
}

// .text-tertiary{
// 	font-size: ;
// 	font-weight: ;
// 	color: var();
// 	font-family: var();
// }
