:root{
	--color-white: #FFFFFF;

	--color-black: #000000;

	--color-red: #FF0000;
	--color-red-2: #FF000059;
	--color-red-3: #FF000080;

	--color-purple: #5908AB;
	--color-purple-2: #8000FF29;
	
	--color-yellow:	#FFC700;
	--color-yellow-2:	#FFC70029;

	--color-dar-grey:rgba(255, 255, 255, 0.24);

	--font-montserrat: 'Montserrat', sans-serif;

	--font-sf-pro-display: 'SF Pro Display';
	
}