.btn{
    display: inline-block;
    color: var(--color-white);
    font-size: 24px;
    font-weight: 700;
    border-radius: 15px;
    padding: 16px 24px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    cursor: pointer;
    // display: inline-flex;
    // align-items: center;

    &-red{
        background-color: var(--color-red);
        border: 3px solid var(--color-red);
        
        &:hover{
            box-shadow: 0px 3px 8px var(--color-red);
        }
    }
   
    &-white{
        background-color: transparent;
        border: 3px solid var(--color-white);
        max-width: 201px;
        width: 100%;

        &:hover{
            border: 3px solid var(--color-red);
            box-shadow: 0px 3px 8px var(--color-red);
            background-color: var(--color-red);
        }
    }
   
    &-white-2{
        background-color: var(--color-white);
        // border: 3px solid var(--color-white);
        max-width: 201px;
        width: 100%;
        color: var(--color-black);

        &:hover{
            box-shadow: 0px 3px 8px var(--color-white);
        }
    }
    
    &-yellow{
        background-color: var(--color-yellow);
        color: var(--color-black);
        max-width: 201px;
        width: 100%;
        
        &:hover{
            background-color: var(--color-yellow);
            box-shadow: 0px 3px 8px var(--color-yellow);
        }
    }
   
    &-purple{
        background-color: var(--color-purple);
        max-width: 300px;
        width: 100%;
        
        &:hover{
            background-color: var(--color-purple);
        }
    }
}