.header{
	border-bottom: 3px solid var(--color-red);
}

.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	&-logo{
		z-index: 15;
		img{
			@media (max-width:1380px) {
				height: 100px;
			}
			
			@media (max-width:1300px) {
				height: 90px;
			}

			@media (max-width:1200px) {
				height: 80px;
			}
			
			@media (max-width:1050px) {
				height: 70px;
			}

			@media (max-width:850px) {
				height: 65px;
			}
			
			@media (max-width:650px) {
				height: 60px;
			}

			@media (max-width:360px) {
				height: 53px;
			}
		}
	}

	&-list{
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		@media (max-width:800px) {
			flex-direction: column;
			width: 100%;	
			background-color: var(--color-black);
			position: fixed;
			justify-content: center;
			gap: 45px;
			top: 0;
			left: 0;
			padding: 30px;
			padding-top: 100px;
			align-items: center;
			transform: translateY(-450%);
			transition: all 0.5s ease;
			height: 100vh;
			order: 0;
		}
	
		&.active{
			transform: translateY(0%);
			height: 760px;
			z-index: 10;
		}

		&-btns{
			display: flex;
			align-items: center;
			
			@media (max-width:800px) {
				display: none;
			}
			
		}
		
		&-btns-small{
			display: none;
			background-color: var(--color-black);
			width: 100%;
			@media (max-width:800px) {
				display: flex;
				flex-direction: column;
				gap: 10px;
				
			}
		}

		&-btn{
			min-width: max-content;

			@media (max-width:1390px) {
				font-size: 22px !important;
			}

			@media (max-width:1300px) {
				font-size: 20px !important;
			}
			
			@media (max-width:1220px) {
				font-size: 17px !important;
				padding: 12px 17px !important;
			}
			
			@media (max-width:1050px) {
				font-size: 14px !important;
				padding: 10px 17px !important;
			}
			
			@media (max-width:850px) {
				font-size: 13px !important;
				padding: 8px 17px !important;
			}
			
			@media (max-width:800px) {
				max-width: 143px !important;
				width: 100% !important;
				font-size: 14px;
			}

			&:last-of-type{
				margin-left: 10px;

				@media (max-width:1050px) {
					margin-left: 5px;
				}
			}
		}
	}
	
	&-link{
		display: block;
		font-size: 24px;
		font-weight: 700;
		font-family: var(--font-sf-pro-display);
		color: var(--color-white);
		transition: all 0.3s ease-in-out;

		@media (max-width:1390px) {
			font-size: 22px;
		}

		@media (max-width:1300px) {
			font-size: 20px;
		}

		@media (max-width:1220px) {
			font-size: 17px ;
		}

		@media (max-width:1050px) {
			font-size: 14px;
		}
		
		@media (max-width:850px) {
			font-size: 12px;
		}
		
		@media (max-width:800px) {
			font-size: 24px;
		}

		&:not(:first-of-type){
			margin-left: 35px;
			
			@media (max-width:1386px) {
				margin-left: 25px;
			}
			
			@media (max-width:1050px) {
				margin-left: 17px;
			}

			@media (max-width:800px) {
				margin-left: 0px;
				margin-top: 25px;
			}
		}

		&:hover{
			color: var(--color-red);
		}

		&.active{
			color: var(--color-red);
		}
	}

	&-btn{
		height: 20px;
		width: 20px;
		z-index: 10;

		display: none;

		@media (max-width:800px) {
			display: block;
		}

		.fa-solid{
			color: var(--color-red);
			font-size: 24px;
		}
	}

}
